# Ignore node_modules, already installed via package.json
node_modules

# Ignore build artifacts if they exist locally
dist

# Ignore development/config files not needed in the image
.env*
.DS_Store
*.log

# Ignore Git directory
.git 